
.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
#test {
    height: 115px;
    width: 200px;
    background-color:bisque;
    margin-top: -115px;
    margin-left: -7px;
    
}

#target {
    position: absolute;
    visibility: hidden;
    height: 50px;
    width: 50px;
    background-color: crimson;
    border-radius: 50%;
    animation-name: grow; 
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  
}

@keyframes grow {
  0%   {height:25px; width: 25px;}
  25%  {height:75px; width: 75px;}
  50%  {height:75px; width: 75px;}
  100% {height:50px; width: 50px;}
  
}


